body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.help-content {
	text-align: left;
}

.log {
	font-family: monospace;
	white-space: pre;
	overflow: auto;
	max-height: 300px;
}

.config-text-area{
	font-family: monospace;
	white-space: pre;
	overflow: auto;
}

.compile-text-area{
	font-family: monospace;
	white-space: pre;
	overflow: auto;
}

.flash-text-area{
	font-family: monospace;
	white-space: pre;
	overflow: auto;
}

.fill { 

}