body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.config-text-area{
	font-family: monospace;
	white-space: nowrap;
	overflow: auto;
}

.compile-text-area{
	font-family: monospace;
	white-space: nowrap;
	overflow: auto;
}

.flash-text-area{
	font-family: monospace;
	white-space: nowrap;
	overflow: auto;
}

.fill { 

}